<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container my-8">
        <div class="row">
            <div class="col-md-3 p-5" >

                    <img th:src="${book.imgUrl}" alt="" class="card-img" >

            </div>
            <div class="col-md-4 p-5">
                <h3 th:text="${book.title}" class="text text-info"></h3>
                <p class="lead">It is published by <span th:text="${book.yearPublished}">&nbsp; year.</span></p>
                <p class="lead">It costs $<span th:text="${book.price}"></span>.</p>
                <p class="lead">Written by <span th:text="${book.author.name}"></span>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>